.contenedor-biblia {
  background-color: aliceblue;
  padding: 0;
  margin: 0;
}

.main-bi {
  padding: 1em;
}

#biblia {
  padding: 20px; /* Espaciado interior */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 8px rgba(195, 0, 255, 0.342); /* Sombra suave */
  max-width: 600px; /* Ancho máximo */
  margin: 20px auto; /* Centrar horizontalmente */
  text-align: center; /* Alinear el texto al centro */
  background-color: rgba(0, 60, 255, 0.466);
}

#biblia h2 {
  font-size: 2rem; /* Tamaño de fuente grande */
  color: #ffffff; /* Color de texto oscuro */
  margin-bottom: 10px; /* Espaciado inferior */
}

#biblia p {
  font-size: 1.2rem; /* Tamaño de fuente moderado */
  color: #ffffff; /* Color de texto más claro */
}

.secu-bi p {
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.prin-biblia {
  padding: 40px 20px; /* Espaciado superior e inferior */
  background-color: #f8f9fa; /* Color de fondo suave */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

h2 {
  font-size: 2.5rem; /* Tamaño de fuente grande para el título */
  margin-bottom: 20px; /* Espaciado inferior del título */
  color: #343a40; /* Color del texto */
}

.secu-bi {
  display: flex; /* Utiliza flexbox para alinear elementos */
  align-items: flex-start; /* Alineación vertical al inicio */
}

.secu-bi img {
  width: 30%; /* Ajusta el tamaño de la imagen (40% del contenedor) */
  height: auto; /* Mantener la proporción */
  margin-right: 20px; /* Espaciado a la derecha de la imagen */
  border-radius: 8px; /* Bordes redondeados para la imagen */
}
.text-content {
  flex: 1; /* Permite que el contenido ocupe el espacio restante */
}

.text-content p {
  font-size: 1.1rem; /* Tamaño de fuente para el texto */
  line-height: 1.6; /* Espaciado entre líneas */
  color: #495057; /* Color del texto */
  margin-bottom: 15px; /* Espaciado inferior entre párrafos */
}
