* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #8014ff;
}

.header {
  background-color: #f8f9fa;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  top: 0; /* Se adhiere a la parte superior */
  transition: top 0.3s;
}

.container {
  display: flex;
  flex-direction: column; /* Logo arriba del nav */
  align-items: center; /* Centra todo horizontalmente */
}

.logo img {
  height: 80px; /* Ajusta la altura del logo según prefieras */
  margin-bottom: 1rem; /* Añade espacio entre el logo y el nav */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem; /* Ajusta el espacio entre los enlaces */
}

.nav ul li {
  list-style-type: none;
}

.nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #2c3e50;
}

.main {
  flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
  padding: 2rem;
}

footer {
  background-color: #f8f9fa;
  color: #333;
  text-align: center;
  padding: 1em;
  width: 100%;
  bottom: 0;
}

.card {
  border: 1px solid #007bff; /* Borde azul */
}

.card-title {
  font-weight: bold; /* Títulos en negrita */
}

.card-text {
  font-size: 0.9rem; /* Tamaño de texto más pequeño */
}

.btn-primary {
  background-color: #007bff; /* Color de fondo azul */
  border-color: #007bff; /* Color del borde */
}

.btn-primary:hover {
  background-color: #0056b3; /* Color de fondo en hover */
  border-color: #0056b3; /* Color del borde en hover */
}
